---
layout: default
title: Home
cover: false
about: 'about.html'
---

    <header class="main-header {% if page.cover %}has-cover{% endif %}" style="background-image: url({{ page.cover | prepend: site.baseurl }})">
        <nav class="main-nav overlay clearfix">
            <a class="blog-logo" href="{{ site.baseurl }}">
                <img src="{{ site.baseurl }}/assets/images/profile.png" alt="Blog Logo">
            </a>
        </nav>
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">{{ site.name }}</h1>
                <h2 class="page-description">{{ site.description }}</h2>
                <div class="tagline">{{ site.tagline }}</div>
                <div class="header-cta">
                    <a href="{{ site.baseurl }}/about" class="btn btn-primary">About Me</a>
                    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-secondary" target="_blank">Connect on LinkedIn</a>
                </div>
            </div>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    </header>

<main id="content" class="content" role="main">
    <!-- Pagination (top) -->
    <div class="extra-pagination inner">
        <nav class="pagination" role="navigation">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <a class="newer-posts" href="{{ site.baseurl }}/">&larr; Newer</a>
                {% else %}
                    <a class="newer-posts" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">&larr; Newer</a>
                {% endif %}
            {% endif %}
            <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a class="older-posts" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Older &rarr;</a>
            {% endif %}
        </nav>
    </div>

    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        
        {% if post.tags %}
        <div class="post-tags">
            {% for tag in post.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
        
        <section class="post-excerpt">
            {% if post.excerpt %}
                {{ post.excerpt | strip_html | truncatewords: 50}}
            {% else %}
                {{ post.content | strip_html | truncatewords: 50}}
            {% endif %}
            <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %}
                on
                {% for category in post.categories %}
                    {% if forloop.last %}
                        <a href="/category/{{ category | slugify }}">{{ category }}</a>.
                    {% else %}
                        <a href="/category/{{ category | slugify }}">{{ category }}</a>,
                    {% endif %}
                {% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>
    {% endfor %}

    <!-- Pagination (bottom) -->
    <nav class="pagination" role="navigation">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a class="newer-posts" href="{{ site.baseurl }}/">&larr; Newer</a>
            {% else %}
                <a class="newer-posts" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">&larr; Newer</a>
            {% endif %}
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a class="older-posts" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Older &rarr;</a>
        {% endif %}
    </nav>
</main>
