---
layout: default
pagination:
    enabled: true
title: Home
cover: false
about: 'about.html'
---

<header class="main-header no-cover" {% unless paginator.page == 1 %} style="height: 20%" {% endunless %}>
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{'feed/' | relative_url }} ">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt | truncatewords: 50}} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 2 %} 
                on
                {% for category in post.categories %}
                    {% if category == post.categories.last %}
                    and <a href="/category/{{ category | slugify }}">{{ category }}</a>. 
                    {% else %}
                    <a href="/category/{{ category | slugify }}">{{ category }}</a>,
                    {% endif %}  
                {% endfor %}
            {% elsif post.categories.size == 2 %}
                on
                    <a href="/category/{{ post.categories.first | slugify }}">{{ post.categories.first }}</a> and 
                    <a href="/category/{{ post.categories.last | slugify }}">{{ post.categories.last }}</a>.
 
            {% elsif post.categories.size == 1%}
                on
                    <a href="/category/{{ post.categories.last | slugify }}">{{ post.categories.last }}</a>.
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}
</main>
